* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: rgba(100, 50, 50, 0.6);
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
}

.container {
  background: rgba(100, 50, 50, 0.8);
  width: 350px;
  margin: 10px auto;
  text-align: center;
}

.container input[type='text'] {
  width: 75%;
}

.container input[type='button'] {
  width: 75%;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px 10px;
}

.container p {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

#table {
  width: 400px;
  height: 400px;
  margin: 60px auto;
}

#table td {
  background: rgba(100, 50, 50, 0.8);
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

#table td.blank {
  background: transparent;
}
